body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 20px
}
ol {
    margin-top: 15px;
    padding-left: 30px; /* afasta número do item */
}

li {
    background-color: #cce0ff;
    border-radius: 6px;
    margin-bottom: 8px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-position: outside; /* número fora do bloco */
    width: 250px;
}
li span {
    font-weight: bold;
}

li button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

li button:hover {
    color: darkred;
}